.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
    white-space: nowrap;

    &::before {
      content: '';
      display: block;
      position: relative;
      top: 0px;
      width: 300px;
      height: 1px;
      margin-right: 20px;
      background-color: var(--slate);
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      top: 0px;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: var(--slate);
    }
  }

  &--grid {
    text-align: center;
    background-color: var(--bluerod);
    border-radius: 20px;
    padding: 50px;
    margin: 50px 0px 0px;

    .MuiOutlinedInput-input {
      color: var(--slate);
    }

    label {
      color: var(--white) !important;
    }
    .Mui-focused fieldset {
      border-color: var(--white) !important;
    }

    .contact--button {
      margin-top: 45px;
      background-color: var(--white);
      color: var(--bluerod);
    }
  }
}
