.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
    white-space: nowrap;

    &::before {
      content: '';
      display: block;
      position: relative;
      top: 0px;
      width: 300px;
      height: 1px;
      margin-right: 20px;
      background-color: var(--slate);
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      top: 0px;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: var(--slate);
    }
  }

  &--grid {
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 15px;
    position: relative;

    .item {
      position: relative;
      cursor: default;

      .project--inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        height: 100%;
        padding: 2rem 1.75rem;
        border-radius: 10px;
        background-color: var(--navy-light);
        transition: var(--transition);

        &:hover {
          transform: scale(1.05);
          transition: var(--transition);
        }

        header {
          .project--top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;

            .folder {
              svg {
                width: 40px;
                height: 40px;
                color: var(--goldenrod);
              }
            }

            .project--links {
              display: flex;
              align-items: center;
              margin-right: -10px;

              a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 7px;

                &:hover {
                  transform: scale(1.05);
                  transition: var(--transition);
                  color: var(--goldenrod);
                }

                svg {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }

          .project--title {
            margin: 0px 0px 10px;
            font-size: var(--h3-fz);

            &:hover {
              transition: var(--transition);
              color: var(--goldenrod);
            }
          }

          .project--description {
            font-size: var(--small-fz);
          }
        }

        footer {
          .project--tech--list {
            display: flex;
            align-items: flex-end;
            flex-grow: 1;
            flex-wrap: wrap;
            padding: 0px;
            margin: 20px 0px 0px;

            li:not(:last-of-type) {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
